/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-dark {
    background-color: #121212;
}

.main-pink {
    color: #ea80fc;
}

.main-yellow {
    color: #fcf480;
}

.light-border {
    border-color: #373737;
}

.bg-light {
    background-color: #252526;
}

.bg-input-light {
    background-color: #333337;
}

body {
    height: 100vh;
    background-color: #121212;
}

.content {
    margin-top: 56px;
}

button:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.custom-border-color {
    border-color: #3B3B3E;
}

.field-focus:focus {
    border: 2px solid #ea80fc
}

.font-bold-hover:hover {
    font-weight: 400;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 50%;
}
